<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="fas fa-rocket logo-icon" aria-hidden="true"></span> CompanyApp.MauiBlazor
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-home logo-icon" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="saisie-quiz">
                <span class="fas fa-pencil-alt logo-icon" aria-hidden="true"></span> Créer un Quiz
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resume-quiz">
                <span class="fas fa-list logo-icon" aria-hidden="true"></span> Voir les Quiz
            </NavLink>
        </div>
    </nav>
</div>

